<div class="text-left" style="width: 600px;">
<h1>Create an Account </h1> 
<p><a href="/sessions/new" class="btn btn-secondary" role="button" aria-pressed="true">Log In</a></p>
<%= render 'form'%>
</div>

