<div class="margins">
<a href=<%= requests_path %>><img class="rounded-corners-gradient-borders" src="/img/61392.png" alt="The bar is closed" height=400></img></a>
<h4>The bar is closed, sorry!  Please come back at 3 PM.</h4>
</div>
