<div class="margins">
<a href=root><img src="/img/61392.png" alt="The bar is closed" height=700></img></a>
<h3>The bar is closed, sorry!  Please come back at 3 PM.</h3>
<p><i>Image courtesy of Rawpixel</i></p>
</div>
