<div class="m-4">

<h1>Welcome to Snag!</h1>
<h3>We asdlfkjaslfdkjaklfjlkasdjjlkfdjlaksdjlkasdjfk;ajdsf;k</h3>

<br>

<a class="btn btn-info btn-lg" role="button" aria-pressed="true" href= <%= log_in_path %>>Log In</a>
</div>

<div class="ml-3">
<a class="btn btn-info btn-lg" role="button" aria-pressed="true" href=<%= sign_up_path %>> Sign Up</a>
</div>
