<div class="m-3">
<h1>Beers</h1>

<% if current_user.currently_requesting %>
  <p><a href="/requests/new" class="btn btn-info btn-lg" role="button" aria-pressed="true">Request a Beer!</a></p>
<%end%>

<table class="table table-borderless" style="width:50%">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">ABV</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @beers.each do |beer| %>
      <td>Image</td>
      <td><%= beer.name %></td>
      <td><%= beer.abv %>% ABV</td>
      <td><%= beer.description %></td>
    </tr>
    <%end%>
  </tbody>
</table>
