<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SNAG</a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/beers">Beers</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Snag a beer for a friend!</a></li>
        <li class="nav-item"><a class="nav-link" href="/requests/new">Request a beer!</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/users/new"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

    <div class="container">

      <% if flash[:errors] %>
        <ul>
          <% flash[:errors].each do |error| %>
            <li style="color: red"><%= error %></li>
          <% end %>
        </ul>
      <% end %>

        <% if flash[:notice] %>
          <li style="color: red"><%= notice %></li>
      <% end %>
    </div>

  </head>

  <body>

    <%= yield %>
  </body>
</html>

<!doctype html>
